/* ______________________________________ */
/* section welcome */

.welcome-wrapper {
    background: #EDF2EC;
}

.welcome-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 62px 109px 63px;
}

.welcome-img {
    width: 448px;
    height: 407px;
}

.welcome-descriprion {
    width: 549px;
}

.welcome-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    padding-bottom: 42px;
}

.welcome-span {
    color: #499A18;
}

.welcome-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    padding-bottom: 48px;
}

.btn {
    position: absolute;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;
}

/* ______________________________________ */
/* section about */

.about-wrapper {}

.about-descriprion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 153px;
    padding: 94px 109px 93px 109px;
}

.about-title {
    width: 463px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-bottom: 40px;

}

.about-span {
    color: #E06733;
}

.about-text {
    width: 605px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about-img {}

/* ______________________________________ */
/* service */

.service-wrapper {
    background: #EDF2EC;
}

.service-descriprion {
    display: flex;
    align-items: center;
    padding: 40px 324px 90px 109px;
}

.service-title {
    width: 306px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding-right: 142px;
}

.service-nav {
    display: flex;
    justify-content: space-between;
    gap: 38px;
}

.service-link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    padding: 12px 40px;
}

.service-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 116px;
    padding: 0 109px 121px;
}

.service-item {
    width: 330px;
}

.service-first-img {}

.service-first-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
    padding-bottom: 10px;
}

.service-first-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
    padding-bottom: 36px;
}

.service-first-footer {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

/* ________________________________ */
/* price */

.prices-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.prices-buttons {
    width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 34px 41px;

}

.prices-btn {
    width: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    background: #EDF2EC;
    border: 0px;
    border-radius: 20px;
    padding: 16px 110px 16px 40px;
    text-align: left;
}